snippet !!
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>${0}</title>
			<link rel="stylesheet" href="style.css">
			<script src="index.js" defer></script>
		</head>
		<body>
		</body>
	</html>
snippet lorem
	Lorem ipsum dolor sit ametc odio.  dapibus diam. Sed nisi.  elementum imperdiet. Duis . Vestibulum lacinia arcu eget nulla.

