
@import '../../.config/waybar/wallust/colors-waybar.css';
#waybar {
    background: transparent;
}

#custom-date,
#battery,
#pulseaudio,
#network,
#language,
#tooltip,
.modules-left,
.modules-center,
#memory,
#disk,
#cpu,
#temperature,
#backlight {
    background-color: rgba(46, 52, 64, 0.7);
    padding: 5px 10px;
    margin: 5px 0px;
    color	:#A7C080;
}

#custom-arch{
  color	:#A7C080;
}

#custom-power {
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#mode {
	color: #cc3436;
	font-weight: bold;
}

#clock {
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#network {
    border-radius: 5px 0px 0px 5px;
}

/* Adjustments for other elements to match the style */

#workspaces button {
    color	:#A7C080;
    /*color: @color2;*/
    box-shadow: none;
  	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color	:#A7C080;
    /*color: @foreground;*/
    background-color: @color2;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    color: @color4;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

#workspaces button:hover {
    color: @color4;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
/* Adjust other elements similarly */

#taskbar button.active {
    color	:#A7C080;
    background-color: #3C4344; /* Adjusted to match @color2 */
    border-radius: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
